<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/homeStyle.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<title>PongIO</title>
</head>
<body>
	<script src="/js/app.js" type="text/javascript" charset="utf-8" async defer></script>
	<h1>PongIO</h1>
	<div id="container">
		<canvas id="board" width="900" height="600"></canvas>
	</div>

</body>

</html>