<!DOCTYPE html>
<html>
<head>
	<title>PongIO</title>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/loginStyle.css">
	<script src="https://use.fontawesome.com/7060f7d9cf.js"></script>
	<script src="/js/login.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
	<h1>PongIO</h1>
	<div id="container">
		<form action="/" method="post" accept-charset="utf-8">
			<input type="text" name="username" placeholder="Your name">
      <input type="button" name="team" value="Right">
      <br>
      <input type="submit" name="join" value="Join">
      <br>
      <input type="button" name="settings" value="Settings">
		</form>
	</div>
</body>
</html>