<!DOCTYPE html>
<html>
<head>
	<title>PongIO</title>
</head>
<body>
	<form action="/" method="post" accept-charset="utf-8">
		<input type="text" name="username">
		<input type="submit" name="join">
	</form>
</body>
</html>